<html lang="en" >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset='utf-8'>
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    </head>
    <body ng-app="DRRR" ng-cloak>
        <div class="bg-dark" ng-controller="loginController" flex layout="column" layout-align="space-between center">
            <img id="logoImage" class="md-card-image" ng-src="/static/images/logo.jpg">
            <md-content class="bg-transparent" layout="row" flex layout-align="space-between center" layout-xs="column" ng-cloak>
                <form id="loginForm" method="POST" action="/auth/login/" flex>
                    <md-input-container md-theme="docs-dark" class="md-block">
                        <label> Username</label>
                        <input type="text" name="username" ng-model="user.name" md-maxlength="15" required>
                        <div ng-messages="loginForm.username.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </md-input-container>
                    <md-input-container md-theme="docs-dark" class="md-block">
                        <label> Password</label>
                        <input type="password" name="password" ng-model="user.password" md-maxlength="15" required>
                        <div ng-messages="loginForm.password.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </md-input-container>
                    <md-input-container layout="row" layout-align="space-around center">
                        <md-button type="submit" class="md-raised md-primary">Enter</md-button>
                        <md-button class="md-raised md-primary">Register</md-button>
                    </md-input-container>
                </form>
            </md-content>
        </div>

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <!-- my script -->
        <script src="/static/js/main.js"></script>

    </body>
</html>